@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


*, *:after, *:before {
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(60deg, rgba(79, 107, 184, 1) 0%, rgba(79, 165, 189, 1) 100%);
}


.modelViewer {
  position: absolute;
  top: 10vh; 
  left: 1vw; 
  display: flex;
  gap: 1vw; 
  /*
  background-color: rgba(38, 50, 83, 0.95);
  padding: 1rem;
  border-radius: 10px;*/
  visibility: hidden; 
}

.chartViewer {
  position: absolute;
  top: 10vh; 
  left: 1vw; 
  display: flex;
  gap: 1vw; 
  /*
  background-color: rgba(38, 50, 83, 0.95);
  padding: 1rem;
  border-radius: 10px;*/
  visibility: visible;
}

.toolbar {
  position: fixed;
  width: 72px;
}


.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0.75rem;
  height: calc(90vh - 1vw);
  width: 4.7vw;
  background-color: rgba(38, 50, 83, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
}

.modelViewer li:nth-child(7) {
  margin-top: 8rem;
  padding-top: 1.25rem;
  border-top: 1px solid #374875;
}


.chartViewer li:nth-child(7) {
  margin-top: 8rem;
  padding-top: 1.25rem;
  border-top: 1px solid #374875;
}


li + li {
  margin-top: 0.75rem;
}


a {
  color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  position: relative;
}


a:hover,
a:focus,
a.active {
  background-color: #374875;
  outline: 0;
}


a:hover span,
a:focus span,
a.active span {
  transform: scale(1);
  opacity: 1;
}


a i {
  font-size: 1.375rem;
}


a span {
  position: absolute;
  background-color: #374875;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  left: calc(100% + 1.25rem);
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: 0.15s ease;
  z-index: 5;
}


a span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #374875;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-radius: 3px;
}


@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chartSidebar {
  position: relative;
  width: 72px;
}


.chartSidebar ul {
  list-style: none;
  margin: 0;
  padding: 0.75rem;
  height: calc(90vh - 1vw);
  width: 72px;
  background-color: rgba(38, 50, 83, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
}

.modelCanvas {
  position: relative; 
  background-color: #ffffff;
  height: calc(90vh - 1vw);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  padding: 1rem;
  color: white;
  overflow: hidden;
}


.modelCanvas canvas {
  position: relative;  
  width: 100% !important; 
  height: 100% !important;
  border-radius: 10px; 
  display: block; 
  user-select: none;
  touch-action: none;
  z-index: 5;
}

.equationEditor {
  background-color: rgba(38, 50, 83, 0.95);
  height: calc(90vh - 1vw);
  width: calc(100vw - 8.7vw - 60vw);
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  padding: 1rem;
  color: white;
}

.equationEditor p {
  margin: 0px;
  font-size: 20px;
}

.chartCanvas {
  position: relative; 
  background-color: #ffffff;
  height: calc(90vh - 1vw);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  padding: 1rem;
  color: white;
  overflow: hidden;
}

.chartEditor {
  background-color: rgba(38, 50, 83, 0.95);
  height: calc(90vh - 1vw);
  width: calc(100vw - 8.7vw - 60vw);
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  padding: 1rem;
  color: white;
}

.chartEditor p {
  margin: 0px;
  font-size: 20px;
}

.tabContent {
  background-color: #35829fff;
  position: relative;

  width: 100% - 50px;
  height: 600px;
  
  top: 25px;
  padding-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}


#myDiagram {
  width: 90%;
  height: 94%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 15px;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  user-select: none;
  touch-action: none;
  width: 598px;
  height: 498px;
}


